@{
    Layout = "~/Views/Shared/_BlankTemplate.cshtml";
}

<div class="modal-dialog form-box">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">@ViewBag.Title</div>
        </div>
        <div class="modal-body">
           出错了
        </div>
    </div>
</div>